@model IEnumerable<eGymClass.Models.GymClass>

@{
    ViewBag.Title = "Current classes";
}

<h2>Current classes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (Request.IsAuthenticated)
                {
                    <span>|</span>
                    if (!item.AttendingMembers.Any(u => u.UserName == User.Identity.Name))
                    {
                        @Html.ActionLink("Attend", "BookingToggle", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("Cancel", "BookingToggle", new { id = item.Id })
                    }

                    if (User.IsInRole("admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                }
            </td>
        </tr>
                }

</table>

@Html.ActionLink("All classes", "IndexAll")
